@import url('https://fonts.googleapis.com/css2?family=Archivo:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Old+Standard+TT:ital,wght@0,400;0,700;1,400&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import "./home/home.css";
@import "./text/text_mobile.css";
@import "./nav/nav.css";
@import "./about/section.css";
@import "./about/sectionOptions.css";
@import "./about/section_features.css";
@import "./about/section_cards.css";
@import "./footer/footer.css";
@import "./rooms/section_gallery.css";
@import "./button/button.css";
@import "./offers/offers.css";
@import "./contact/contact.css";
@import "./roomsDetails/rooms-details.css";
@import "./text/text_desktop.css";



html,
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  min-width: 320px;
}